* {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    overflow: auto;
}

.img-carousel {
    width: 80%;
    height: 82vh;   
}

.nav-item {
    color: rgb(36, 18, 6);
}

nav {
    border-bottom: 3px solid chocolate;
    padding: 0px !important;
}

.logo {
    width: 150px;   
}

.logo_delivery {
    width: 100px; 
    margin-left: 30px;  
}

#navbarNavAltMarkup img {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;    
}

.redes_sociais {
    margin-left: 10px;
    margin-right: -368px;
    display: inline;
}

h3 {
    margin-top: 15px;
}

.cardapio {
    text-align: left;
    border:1px solid gray;
    margin-bottom: 20px;
    margin-top: 20px;
}
.cardapio h6 {
    padding-top: 10px;
    text-align: center;
}

.cardapio p {
    font-size: 12px;
}


.burguer {
    height: 90vh;
    margin: 5px;
    margin-top: 20px;
}

.cafes {
    height: 42vh;
}

.cafes p {
    line-height: 1.8;
}

.salgados {
    height: 45vh;
}

span {
    font-size: 10px;
}



footer {
    width: 100vw;;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    background-color: rgba(243, 235, 230, 0.89);
    font-size: 12px;
    border-top: 3px solid chocolate;
    padding-top: 10px;
    text-align: center;
    z-index: 2;
}

footer > p {
    padding-bottom: 12px;
}

p {
    margin: 0;
}

 @media (min-width: 500px) {
    #navbarNavAltMarkup {
        display: none;
    }
}
@media (min-width: 500px) {
    #navbarNavAltMarkup  {
        display: none;
    }
}
@media (min-width: 769px) {
    #navbarNavAltMarkup  {
        display: none;
    }
} 

