a:hover{
    text-decoration: none;
}

.bg-roxo {
    background-color: #7e459b;
}

nav a:hover {
    font-weight: 500;
}

.imagem-carrossel {
    object-fit: cover;
    object-position: 0 40%;
    height: 65vh;
}

.redes-sociais span {
    color:black;
}

.redes-sociais i {
    color: #7e459b;
    font-size: 1.2rem;
}
.redes-sociais span:hover {
    font-weight: 500;
    color: #7e459b;
}
.container {
    font-size: 20px;
}
.habilidades i {
    font-size: 1.5rem;
}
.tamanho-card {
    width: 18rem;
}

.imagem-cards {
    object-fit: cover;
    object-position: top;
    height: 40vh;
}

.modal-card {
    object-fit: cover;
    object-position: top;
    height: 100vh; 
}
.titulo-card{
    color: #7e459b;
}

.botao {
    background-color: #7e459b;
    color: white;
}

.rodape {
    background-color: #7e459b;
}

.destaque {
    color: #bb62e7;
}